{% set header_title = 'Welcome!' %}
{% set header_title_show = false %}
{% set header_text = '
    <h1 class="nk-title display-3">Team Ides</h1>

    <div>
        Makers of independent, wearable, electronic conference badges
    </div>

' %}
{% set header_image = 'assets/images/image-1.jpg' %}
{% set header_size = 'md' %}
{% set header_visible = 6 %}
{% extends 'layouts/layout-2.html' %}

{% block content %}
    <!-- START: Demos -->
    <div class="container" id="demos">
        <div class="nk-gap-6"></div>
        <div class="row vertical-gap lg-gap">
            <div class="col-md-6">
                <div class="nk-image-box-1-a nk-no-effect">
                    <a href="https://dc25spqr.com/" class="nk-image-box-link"></a>
                    <img src="assets/images/dc25-homepage.jpg" alt="Dc25">
                    <div class="nk-image-box-overlay nk-image-box-center">
                        <div>
                            <h3 class="nk-image-box-title h4">DC25: The Ides of Defcon (2017)</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="nk-image-box-1-a nk-no-effect">
                    <a href="https://github.com/netik/dc27_badge" class="nk-image-box-link"></a>
                    <img src="assets/images/dc27-homepage.jpg" alt="DC27">
                    <div class="nk-image-box-overlay nk-image-box-center">
                        <div>
                            <h3 class="nk-image-box-title h4">DC27: da Bomb! (2019)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-gap-6"></div>
    </div>
    <!-- END: Demos -->


{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var tpj=jQuery;
        var revapi50;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_50_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_50_1");
            }else{
                revapi50 = tpj("#rev_slider_50_1").show().revolution({
                    sliderType:"carousel",
                    jsFileLocation:"assets/vendor/revolution/js/",
                    sliderLayout:"auto",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction: "horizontal",
                        onHoverStop:"off",
                    },
                    carousel: {
                        maxRotation: 8,
                        vary_rotation: "off",
                        minScale: 20,
                        vary_scale: "off",
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "off",
                        vary_fade: "off",
                        maxVisibleItems: 3,
                        infinity: "on",
                        space: -90,
                        stretch: "off"
                    },
                    responsiveLevels:[1240,1024,778,480],
                    gridwidth:[800,600,400,320],
                    gridheight:[600,400,320,280],
                    lazyType:"none",
                    shadow:0,
                    spinner:"off",
                    stopLoop:"on",
                    stopAfterLoops:0,
                    stopAtSlide:0,
                    shuffle:"off",
                    autoHeight:"off",
                    fullScreenAlignForce:"off",
                    fullScreenOffsetContainer: "",
                    fullScreenOffset: "",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });
    </script>
{% endblock %}
